*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: calc(100vw / 1920 * 10);
  line-height: 1;

  @include media('<phone') {
    font-size: calc(100vw / 750 * 10);;
  }
}

body {
  @extend %description-16;

  font-family: $font-suisse-bp;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}

img {
  vertical-align: middle;
}
