*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  @extend %cover;
  $vw: 100vw;

  font-size: calc($vw / 1920 * 10);
  line-height: 1;
  position: fixed;
  overflow: hidden;

  @include media('<phone') {
    font-size: calc($vw / 750 * 10);
  }
}

body {
  @extend %cover;
  @extend %description-16;

  background: $color-contessa;
  color: $color-quarter-spanish-white;
  position: fixed;
  font-family: $font-suisse-bp;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}

img {
  opacity: 0;
  trasition: opacity 0.4s ease;
  vertical-align: middle;

  &.loaded {
    opacity: 1;
  }
}

.content {
  @extend %cover;
}

[data-animation="label"],
[data-animation="paragraph"],
[data-animation="title"] {
  span {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
  }
}
